/* Importando fuente */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

/* Importando Tailwind CSS */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom styles */
@layer utilities {
  .bg-sidebar-background {
    background-color: var(--sidebar-background);
  }
  .bg-content-background {
    background-color: var(--content-background);
  }
}

:root {
  --nav-link-color: #a6a6a6;
  --nav-link-hover-color: #555;
  --sidebar-background: #1f1f1f; /* Color de fondo del sidebar */
  --active-link-color: #9ac0de; /* Color del enlace activo */
  --content-background: #f5f5f5; /* Color de fondo del contenido */
  --table-header-bg: #333333; /* Color de fondo de la cabecera de la tabla */
  --table-row-hover-bg: #444444; /* Color de fondo al pasar el ratón sobre una fila de la tabla */
  --table-row-bg: #2b2b2b; /* Color de fondo de las filas de la tabla */
  --card-bg: #4a4a4a; /* Color de fondo de las tarjetas */
}

body,
html {
  @apply m-0 p-0 h-full;
}

.flex-container {
  @apply flex min-h-screen; /* Altura completa de la ventana */
}

.sidebar {
  @apply w-64 flex-shrink-0 bg-sidebar-background text-white; /* Ancho fijo para el sidebar */
}

.main-content {
  @apply flex-grow bg-content-background p-5; /* Ocupa el espacio restante */
}

.customNav {
  @apply flex flex-col justify-between h-screen w-64 shadow-lg bg-sidebar-background;
}

.navItemsContainer {
  @apply flex flex-col items-start py-5 overflow-y-auto h-full;
}

.navLink {
  @apply flex items-center w-full py-3 px-5 no-underline transition duration-300 text-white;
  color: var(--nav-link-color);
}

.navLink:hover,
.navLink.active {
  @apply bg-gray-800;
}

.navLink .icon {
  @apply mr-5;
  color: var(--nav-link-color);
}

.text-3xl {
  @apply text-2xl mb-3;
}

.ios {
  @apply w-24 mb-5;
}

.bottomLogo {
  @apply flex justify-center items-center py-5 border-t border-gray-600;
}

.hidden {
  display: none; /* Utiliza esta línea directamente en lugar de @apply hidden */
}

/* Estilos para el horario */
.grid {
  display: grid;
  grid-template-columns: repeat(
    8,
    1fr
  ); /* Ajuste aquí para incluir el índice */
  gap: 0.25rem; /* Ajustar el espacio entre celdas */
}

.index {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 13px;
  font-weight: 500;
  color: #fff;
  height: 2rem;
  background-color: var(--table-header-bg);
}

.gridCellWhite {
  background-color: #fef6f6;
  cursor: pointer;
  height: 2rem;
  transition: background-color 0.2s ease;
}

.gridCellWhite:hover {
  background-color: #f1f1f1;
}

.gridCellGreen {
  background-color: #cceaa0;
  cursor: pointer;
  height: 2rem;
  transition: background-color 0.2s ease;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #1e1e1e;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
}

.loader-container {
  @apply fixed inset-0 flex items-center justify-center bg-gray-900 bg-opacity-75 z-50;
}

.loader {
  border: 4px solid rgba(0, 0, 0, 0.1);
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border-left-color: #3498db;
  animation: spin 1s ease infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.table-header {
  background-color: var(--table-header-bg);
  color: #fff;
}

.table-row {
  background-color: var(--table-row-bg);
  &:hover {
    background-color: var(--table-row-hover-bg);
  }
}

.status-en-espera {
  background-color: #ffeb3b;
}

.status-completado {
  background-color: #4caf50;
}

.status-rechazado {
  background-color: #f44336;
}

.card {
  background: var(--card-bg);
  padding: 16px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  color: #fff;
}

.card h2 {
  font-size: 18px;
  margin-bottom: 8px;
}

.card p {
  font-size: 24px;
}
